html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: white;
   background-color: black;
}
.header {
  font-size: 24px !important;
  padding-left: 20px;
  padding-bottom: 10px;
}
.leaflet-container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
.center {
  margin: auto;
  width: 90%;
  border: 3px solid #7FFFD4;
}
p {
  margin-top: 0 !important;
}
h2 {
  margin-bottom: 1rem !important;
}
footer {
  text-align: center;
  margin-top: 5rem;
  color: lightgrey;
  background: #333;
  padding: 20px;
  bottom: 0;
}
